<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible"
    content="IE=edge" />
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet"
    href="./lib-css/bootstrap.min.css" />
  <link rel="stylesheet"
    href="./css/catalog.css" />
  <script src="./scripts/bootstrap.min.js"
    defer></script>
  <title>Catalog</title>
</head>

<body>
  <header class="p-4"
    style="background: linear-gradient(0deg, rgba(255,217,45,1) 0%, rgba(255,142,142,1) 100%);">
    <div class="container">
      <h1 class="text-end"><a class="reset-link-styles"
          style="color: white"
          href="http://127.0.0.1:3000">Страховая компания</a></h1>
    </div>
  </header>
  <main>
    <div class="container">
      <h1 class="mt-3">Все отделения</h1>
      <div class="row my-3">
        {{#each offices}}
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h2 class="card-title">{{address}}</h2>
              {{{map_link}}}
              
              <h2 class="card-title">{{time}}</h2>
            </div>
          </div>
        </div>
        
        {{/each}}
      </div>
    </div>
  </main>
</body>

</html>