<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./lib-css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/catalog.css" />
    <script src="./scripts/bootstrap.min.js" defer></script>
    <title>Catalog</title>
  </head>
  <body>
    <header class="text-bg-primary p-2">
      <div class="container">
        <h1><a href="http://127.0.0.1:3000">Rental Housing</a></h1>
      </div>
    </header>
    <main>
      <div class="container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mt-4">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item">Library</li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
          </ol>
        </nav>
        <div class="mb-5">
          <div class="card mb-12">
            <div class="row g-0 w-100">
              <div class="col-md-2">
                <img src="..." class="img-fluid rounded-start" alt="..." />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">ЖК «Квартал на Грушевке»</h5>
                  <p class="card-text">
                    Жилой комплекс «Квартал на Грушевке» — это лаконичность
                    современной архитектуры,<br />
                    функциональность и уникальное месторасположение на проспекте
                    Дзержинского<br />
                    в г. Минске, с прекрасным транспортным сообщением и близость
                    от метро Грушевская.
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
              <div class="col-md-2">
                <img src="" alt="" />
                <p class="card-text">ООО «ГрандХаузИнжениринг»</p>
              </div>
            </div>
          </div>
        </div>
        <div class="mb-5">
          <div class="card mb-12">
            <div class="row g-0 w-100">
              <div class="col-md-2">
                <img src="..." class="img-fluid rounded-start" alt="..." />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">ЖК «Квартал на Грушевке»</h5>
                  <p class="card-text">
                    Жилой комплекс «Квартал на Грушевке» — это лаконичность
                    современной архитектуры,<br />
                    функциональность и уникальное месторасположение на проспекте
                    Дзержинского<br />
                    в г. Минске, с прекрасным транспортным сообщением и близость
                    от метро Грушевская.
                  </p>
                  <p class="card-text">
                    <small class="text-muted">Last updated 3 mins ago</small>
                  </p>
                </div>
              </div>
              <div class="col-md-2">
                <img src="" alt="" />
                <p class="card-text">ООО «ГрандХаузИнжениринг»</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="text-bg-secondary p-5">
        <div class="container text-center">
          <h1>Rental Housing</h1>
          <h6>Курсовой проект</h6>
          <h6>Олеников Михаил Фадеевич ПО-447</h6>
        </div>
      </footer>
    </main>
  </body>
</html>
