<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./lib-css/bootstrap.min.css" />
    <link rel="stylesheet" href="./css/index.css" />
    <script src="./scripts/bootstrap.min.js" defer></script>
    <title>Pharmacy</title>
  </head>
  <body>
    <header class="p-4" style="background: linear-gradient(0deg, rgba(255,217,45,1) 0%, rgba(255,142,142,1) 100%);">
      <div class="container">
        <h1 class="text-end"><a class="reset-link-styles" style="color: white" href="http://127.0.0.1:3000">Страховая компания</a></h1>
      </div>
    </header>
    <main class="mt-4">
      <div class="container">
        <div class="row">
          <div class="">
            <h1 class="mb-2">Наши специалисы</h1р>
            <div class="row">
              {{#each article}}
              <div class="mb-3">
                <div class="card d-flex justify-content-between flex-column" style="height: 100%; border-radius: 0">
                  <img src="{{photo}}" alt="medicine_img">
                  <div class="card-body" style="flex: 0">
                    <h3 class="mt-a">{{Title}}</h3>
                    <p>Лет опыта: {{Content}}</p>
                  </div>
                </div>
              </div>
                
              {{/each}}
              <p class="container"><button type="button"
                class="btn p-2 btn-warning mt-2" style="width:100%; border-radius: 0;">Список специалистов</button></p>
            </div>
          </div>
          <div class="">
            <h1>Список отделений</h1>
            <div class="row">
              <script type="text/javascript"
                charset="utf-8"
                async
                src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A424fe5c031ac70a8b55c7d1e10b603dd68d2a2605a4e324bedb1df5dcb9175d6&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
              <p class="container mt-3"><button type="button"
                  class="btn p-2 btn-warning mt-2"
                  style="width:100%; border-radius: 0;">Все отделения</button></p>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
